body{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.header-panel{
    position: fixed;
    width: 100%;
    height: 67px;
    background-color: #FAB830;
    overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-panel img{
	width: 10%;
    height: 72%;
    margin-left: 3%;
    margin-top: 0.6%;
    float: left;
    margin-bottom: 0.6%;
}
.header-panel a{
    float: right;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    margin-right: 3%;
    margin-top: 0.2%;
    font-family: arial;
    font-size: 25px;

}
.content{
	width: 100%;
	display: table;  
	clear: both;
}
.col-1{
	float: left; 
	width: 15.6%; 
	padding: 0px;
}


/*Form Error Page 500*/

.col-2{
	float: left; 
	width: 68.9%; 
	padding: 0px;
}
.col-2 img{
    width: 406px;
    height: 222px;
    margin-left: 33.9%;
    margin-top: 8%;
}
.col-2 h1{
    font-family: Alfredo;
    font-size: 100px;
    color: #FF0000;
    text-align: center;
    padding: 0px;
    margin: 0%;
}
.col-2 h2{
    font-family: arial;
    font-size: 36px;
    text-align: center;
    margin-top: 4%;
}
.col-2 p{
    font-family: arial;
    font-size: 20px;
    text-align: center;
    margin-top: 9%;
}
.footer {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #000;
    bottom:0px;
}

/*Form Error Page 404*/

.col-3{
	float: left; 
	width: 68.9%; 
	padding: 0px;
}
.col-3 img{
    width: 309px;
    height: 311px;
    margin-left: 36.9%;
    margin-top: 8%;
}
.col-3 h1{
    font-family: Alfredo;
    font-size: 60px;
    color: #FF0000;
    text-align: center;
    padding: 0px;
    margin: 0%;
}
.col-3 p{
    font-family: arial;
    font-size:26px;
    text-align: center;
    margin-top: 9%;
}